<div id="Header_creative" class>
	<a href="#" class="creative-menu-toggle"><i class="icon-menu-fine"></i></a>
	<div class="creative-social">
		<ul class="social">
			<li class="facebook">
				<a href="#"><i class="icon-facebook"></i></a>
			</li>
			<li class="twitter">
				<a href="#"><i class="icon-twitter"></i></a>
			</li>
			<li class="youtube">
				<a href="#"><i class="icon-play"></i></a>
			</li>
		</ul>
	</div>
	<div class="creative-wrapper">
		<div id="Top_bar">
			<div class="one clearfix">
				<div class="top_bar_left">
					<div class="logo">
						<a id="" routerLink="/" data-height="106" data-padding="60"
							><img
								class="logo-main scale-with-grid"
								src="assets/images/logo.png"
								data-retina="assets/images/logo.png"
                data-height="212"
                data-no-retina />
                <!-- <img
								class="logo-sticky scale-with-grid"
								src="assets/images/logo.png"
								data-retina="assets/images/logo.png"
								data-height="212"
								data-no-retina /><img
								class="logo-mobile scale-with-grid"
								src="assets/images/logo.png"
								data-retina="assets/images/logo.png"
								data-height="212"
								data-no-retina /><img
								class="logo-mobile-sticky scale-with-grid"
								src="assets/images/logo.png"
								data-retina="assets/images/logo.png"
								data-height="212"
								data-no-retina
              /> -->
          </a>
					</div>
					<div class="menu_wrapper">
						<nav id="menu">
							<ul id="menu-main-menu" class="menu menu-main">
								<li class="">
									<a routerLink="/home" routerLinkActive="active"
										><span>HOME</span></a
									>
								</li>
								<li>
									<a routerLink="/about" routerLinkActive="active"
										><span>MECHANICS</span></a
									>
								</li>
								<li>
									<a routerLink="/faqs" routerLinkActive="active"
										><span>FAQs</span></a
									>
								</li>
								<li>
									<a routerLink="/vote" routerLinkActive="active"
										><span>VOTE</span></a
									>
								</li>
								<li>
									<a routerLink="/contact" routerLinkActive="active"
										><span>CONTACT</span></a
									>
								</li>
							</ul>
						</nav>
						<a class="responsive-menu-toggle" href="#"
							><i class="icon-menu-fine"></i
						></a>
					</div>
				</div>
			</div>
		</div>
		<div id="Action_bar">
			<ul class="social">
				<li class="facebook">
					<a href="#"><i class="icon-facebook"></i></a>
				</li>
				<li class="twitter">
					<a href="#"><i class="icon-twitter"></i></a>
				</li>
				<li class="youtube">
					<a href="#"><i class="icon-play"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>
