<app-aboutheader></app-aboutheader>
<div id="Content">
	<div class="content_wrapper clearfix">
		<div class="sections_group">
			<div class="entry-content">
				<div
					class="section mcb-section mcb-section-hu09qep0t bg-cover-ultrawide"
					style="
						padding-top: 300px;
						padding-bottom: 60px;
						background-image: url(assets/images/football2_pic22.jpg);
						background-repeat: no-repeat;
						background-position: center top;
					"
				>
					<div class="section_wrapper mcb-section-inner">
						<div
							class="wrap mcb-wrap mcb-wrap-oii4mf906 one valign-top clearfix"
							style
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-pasda8lmv three-fifth column_column"
								>
									<div class="column_attr clearfix">
										<h4>The Mechanics</h4>
										<h2 class="themecolor">HOW TO PARTICIPATE</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="section mcb-section mcb-section-zbv7oh0mm"
					style="padding-top: 110px; padding-bottom: 70px; background-color: "
				>
					<div class="section_wrapper mcb-section-inner">
						<div
							class="wrap mcb-wrap mcb-wrap-29nw0q530 one-second valign-top clearfix"
							style="padding: 0 2% 0 0"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-hl54u52xd one column_column"
								>
									<div class="column_attr clearfix">
										<p>
											Duis id bibendum est. Nulla commodo iaculis ipsum. Nam eu
											suscipit erat. Mauris eleifend maximus velit, eu fermentum
											dolor faucibus nec. Donec non pulvinar odio. Aenean
											efficitur hendrerit imperdiet. Nam eu suscipit erat.
										</p>
										<p>
											Nunc porta diam id sem maximus semper ut vel augue. Nam eu
											suscipit erat. Nulla arcu mauris, posuere a lorem vitae,
											lacinia accumsan velit. Nulla quis sem condimentum,
											ullamcorper velit eget, hendrerit mi.
										</p>
										<hr class="no_line" style="margin: 0 auto 15px" />
										<ul class="list_custom">
											<li>
												<i class="icon-right-circled"></i> Duis id bibendum est
												nulla commodo iaculis ipsum
											</li>
											<li>
												<i class="icon-right-circled"></i> Nam eu suscipit eratm
												auris eleifend maximus velit
											</li>
											<li>
												<i class="icon-right-circled"></i> Fermentum dolor
												faucibus nec donec non pulvinar
											</li>
											<li>
												<i class="icon-right-circled"></i> Aenean efficitur
												hendrerit imperdiet
											</li>
											<li>
												<i class="icon-right-circled"></i> Nunc porta diam id
												sem maximus semper ut vel augue.
											</li>
										</ul>
										<hr class="no_line" style="margin: 0 auto 25px" />
										<a
											class="button button_size_2 button_theme button_js"
											href="our-history.html"
											><span class="button_label">SEE OUR STORY</span></a
										>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-b0u3z5p89 one-second valign-top clearfix"
							style="padding: 0 0 0 2%"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-x5pa2p8ha one column_column"
								>
									<div class="column_attr clearfix">
										<h4>LOREM IPSUM DOLOR</h4>
										<h2 class="themecolor">ALIQUAM ERAT AC IPSUM INTEGER</h2>
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-u3e76y2l7 one column_image"
								>
									<div
										class="image_frame image_item no_link scale-with-grid aligncenter no_border"
									>
										<div class="image_wrapper">
											<img
												class="scale-with-grid"
												src="assets/images/football2_pic23.png"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="section mcb-section mcb-section-eoegzx7bi no-margin-h no-margin-v full-width"
					style="padding-top: 0px; padding-bottom: 110px; background-color: "
				>
					<div class="section_wrapper mcb-section-inner">
						<div
							class="wrap mcb-wrap mcb-wrap-ggaekfz3a one valign-top clearfix"
							style
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-5hjoqvqhn one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h4>FC BETHEME IN CAMERA</h4>
										<h2 class="themecolor">GALLERY</h2>
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-7r9hko7km one column_divider"
								>
									<hr class="no_line" style="margin: 0 auto 40px" />
								</div>
								<div
									class="column mcb-column mcb-item-sy9u1ttbt one column_image_gallery"
								>
									<div
										id="sc_gallery-1"
										class="gallery galleryid-8 gallery-columns-5 gallery-size-thumbnail file flat"
									>
										<dl class="gallery-item">
											<dt class="gallery-icon landscape">
												<a href="assets/images/football2_pic24.jpg"
													><img
														src="assets/images/football2_pic24-350x350.jpg"
														class="attachment-thumbnail size-thumbnail"
												/></a>
											</dt>
										</dl>
										<dl class="gallery-item">
											<dt class="gallery-icon landscape">
												<a href="assets/images/football2_pic48.jpg"
													><img
														src="assets/images/football2_pic48-350x350.jpg"
														class="attachment-thumbnail size-thumbnail"
												/></a>
											</dt>
										</dl>
										<dl class="gallery-item">
											<dt class="gallery-icon landscape">
												<a href="assets/images/football2_pic26.jpg"
													><img
														src="assets/images/football2_pic26-350x350.jpg"
														class="attachment-thumbnail size-thumbnail"
												/></a>
											</dt>
										</dl>
										<dl class="gallery-item">
											<dt class="gallery-icon landscape">
												<a href="assets/images/football2_pic27.jpg"
													><img
														src="assets/images/football2_pic27-350x350.jpg"
														class="attachment-thumbnail size-thumbnail"
												/></a>
											</dt>
										</dl>
										<dl class="gallery-item">
											<dt class="gallery-icon landscape">
												<a href="assets/images/football2_pic28.jpg"
													><img
														src="assets/images/football2_pic28-350x350.jpg"
														class="attachment-thumbnail size-thumbnail"
												/></a>
											</dt>
										</dl>
										<br style="clear: both" />
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-siinc0egb one column_divider"
								>
									<hr class="no_line" style="margin: 0 auto 60px" />
								</div>
								<div
									class="column mcb-column mcb-item-hy6kz3znv one column_button"
								>
									<div class="button_align align_center">
										<a
											class="button button_size_2 button_theme button_js"
											href="#"
											><span class="button_label">SEE FULL GALLERY</span></a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="section mcb-section mcb-section-6m0letv9i"
					style="
						padding-top: 110px;
						padding-bottom: 70px;
						background-color: #ffffff;
					"
				>
					<div class="section_wrapper mcb-section-inner">
						<div
							class="wrap mcb-wrap mcb-wrap-9uu1ej9vq one valign-top clearfix"
							style
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-k5ous33nb one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h4 style="color: #1a1a1a">OUR VIDEO</h4>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-9ecgc8kr2 one valign-top clearfix"
							style="
								padding: 260px 0 220px;
								background-image: url(assets/images/football2_pic31.jpg);
								background-repeat: no-repeat;
								background-position: center;
							"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-ti04zt166 one-third column_placeholder"
								>
									<div class="placeholder">&nbsp;</div>
								</div>
								<div
									class="column mcb-column mcb-item-kplymwteo one-third column_hover_box"
								>
									<div class="hover_box">
										<a
											href="https://www.youtube.com/watch?v=z0jjTU-H43M"
											rel="prettyphoto"
										>
											<div class="hover_box_wrapper">
												<img
													class="visible_photo scale-with-grid"
													src="assets/images/football2_pic29.png"
												/><img
													class="hidden_photo scale-with-grid"
													src="assets/images/football2_pic30.png"
												/>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
            <!-- Sponsors -->
            <app-sponsors></app-sponsors>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
