<div id="Header_wrapper" class>
	<header id="Header">
		<div class="mfn-main-slider" id="mfn-rev-slider">
			<div
				id="rev_slider_1_1_wrapper"
				class="rev_slider_wrapper fullwidthbanner-container"
				data-source="gallery"
				style="
					margin: 0px auto;
					background: transparent;
					padding: 0px;
					margin-top: 0px;
					margin-bottom: 0px;
				"
			>
				<div
					id="rev_slider_1_1"
					class="rev_slider fullwidthabanner"
					style="display: none"
					data-version="5.4.8.3"
				>
					<ul>
						<li
							data-index="rs-1"
							data-transition="fade"
							data-slotamount="default"
							data-hideafterloop="0"
							data-hideslideonmobile="off"
							data-easein="default"
							data-easeout="default"
							data-masterspeed="300"
							data-rotate="0"
							data-saveperformance="off"
							data-data-param1
							data-param2
							data-param3
							data-param4
							data-param5
							data-param6
							data-param7
							data-param8
							data-param9
							data-param10
							data-description
						>
							<img
								src="assets/images/football2_pic1.jpg"
								data-bgposition="center center"
								data-bgfit="cover"
								data-bgrepeat="no-repeat"
								data-bgparallax="8"
								class="rev-slidebg"
								data-no-retina
							/>
							<div
								class="tp-caption tp-resizeme rs-parallaxlevel-4"
								id="slide-1-layer-1"
								data-x="50"
								data-y="230"
								data-width="['auto']"
								data-height="['auto']"
								data-type="text"
								data-responsive_offset="on"
								data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="
									z-index: 5;
									white-space: nowrap;
									font-size: 24px;
									line-height: 22px;
									font-weight: 400;
									color: #fff;
									letter-spacing: 5px;
									font-family: Oswald;
								"
							>
								WELCOME
							</div>
							<div
								class="tp-caption tp-resizeme rs-parallaxlevel-4"
								id="slide-1-layer-2"
								data-x="50"
								data-y="271"
								data-width="['auto']"
								data-height="['auto']"
								data-type="text"
								data-responsive_offset="on"
								data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="
									z-index: 6;
									white-space: nowrap;
									font-size: 60px;
									line-height: 64px;
									font-weight: 600;
									color: #fa1e3d;
									letter-spacing: 2px;
									font-family: Oswald;
								"
							>
								WE ARE FC BETHEME
								<br />
								FOOTBALL CLUB
							</div>
							<div
								class="tp-caption tp-resizeme rs-parallaxlevel-4"
								id="slide-1-layer-3"
								data-x="50"
								data-y="450"
								data-width="['auto']"
								data-height="['auto']"
								data-type="text"
								data-responsive_offset="on"
								data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="
									z-index: 7;
									white-space: nowrap;
									font-size: 20px;
									line-height: 30px;
									font-weight: 300;
									color: #fff;
									letter-spacing: 1px;
									font-family: Oswald;
								"
							>
								Nam ac erat sollicitudin, commodo libero
								<br />
								nec, euismod risus. Maecenas placerat ante <br />
								id molestie eleifend. Sed ultricies convallis
							</div>
							<a
								class="tp-caption rev-btn tp-resizeme rs-parallaxlevel-4"
								routerLink="/about"
								target="_self"
								id="slide-1-layer-4"
								data-x="49"
								data-y="585"
								data-width="['auto']"
								data-height="['auto']"
								data-type="button"
								data-actions
								data-responsive_offset="on"
								data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(223,24,52);bs:solid;bw:0 0 0 0;"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[15,15,15,15]"
								data-paddingright="[35,35,35,35]"
								data-paddingbottom="[15,15,15,15]"
								data-paddingleft="[35,35,35,35]"
								style="
									z-index: 8;
									white-space: nowrap;
									font-size: 16px;
									line-height: 22px;
									font-weight: 400;
									color: #fff;
									letter-spacing: px;
									font-family: Oswald;
									background-color: rgb(250, 30, 61);
									border-color: rgba(0, 0, 0, 1);
									outline: none;
									box-shadow: none;
									box-sizing: border-box;
									-moz-box-sizing: border-box;
									-webkit-box-sizing: border-box;
									cursor: pointer;
									text-decoration: none;
								"
								>MORE INFO ABOUT US
							</a>
						</li>
					</ul>
					<div
						class="tp-bannertimer tp-bottom"
						style="visibility: hidden !important"
					></div>
				</div>
			</div>
		</div>
	</header>
</div>
