<div id="Side_slide" class="right dark" data-width="250">
    <div class="close-wrapper">
        <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
    </div>
    <div class="menu_wrapper"></div>
    <ul class="social">
        <li class="facebook">
            <a href="#"><i class="icon-facebook"></i></a>
        </li>
        <li class="twitter">
            <a href="#"><i class="icon-twitter"></i></a>
        </li>
        <li class="youtube">
            <a href="#"><i class="icon-play"></i></a>
        </li>
    </ul>
</div>
<div id="body_overlay"></div>
