<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-67c1e925b bg-cover-ultrawide" style="padding-top:300px;padding-bottom:60px;background-image:url(assets/images/football2_pic32.jpg);background-repeat:no-repeat;background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-2714baf42 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-07ccf1bfc three-fifth column_column">
                                    <div class="column_attr clearfix">
                                        <h4>DO YOU WANT TO KNOW MORE?</h4>
                                        <h2 class="themecolor">FEEL FREE
                                            <br> TO CONTACT US</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-2gc996j9p" style="padding-top:110px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-dr8xk1hvf one-second valign-top clearfix" style="padding:0 2% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-hbxd1ruov one column_column">
                                    <div class="column_attr clearfix">
                                        <h4>FC BETHEME</h4>
                                        <h3 class="themecolor">LEVEL 13, 2 ELIZABETH ST,
                                            <br> MELBOURNE, VICTORIA 3000,
                                            <br> AUSTRALIA
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-xo56fzmty one-second valign-top clearfix" style="padding:0 0 0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-2pk1cp54z one column_column">
                                    <div class="column_attr clearfix">
                                        <p>
                                            Aliquam ac dui vel dui vulputate consectetur. Mauris accumsan, massa non consectetur condimentum, diam arcu tristique nibh, nec egestas diam elit at nulla. Suspendisse potenti. In non lacinia risus, ac tempor ipsum.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <p>
                                            <i class="icon-phone"></i> +61(0) 383 766 284
                                        </p>
                                        <p>
                                            <i class="icon-mail"></i><a href="#">noreply@envato.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-kc4h4vxtg" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-7tm5p41nt one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-8ve7c19ke one column_column">
                                    <div class="column_attr clearfix">
                                        <h4>DO YOU NEED HELP? SEND AN INQUIRY</h4>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-9ndxeig74 one column_column">
                                    <div class="column_attr clearfix">
                                        <div id="contactWrapper">
                                            <form id="contactform">
                                                <!-- One Second (1/2) Column -->
                                                <div class="column one-second">
                                                    <input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
                                                </div>
                                                <!-- One Second (1/2) Column -->
                                                <div class="column one-second">
                                                    <input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
                                                </div>
                                                <div class="column one">
                                                    <input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" />
                                                </div>
                                                <div class="column one">
                                                    <textarea placeholder="Message" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
                                                </div>
                                                <div class="column one">
                                                    <input type="button" value="Send A Message" id="submit" onClick="return check_values();">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- sponsors -->
                <app-sponsors></app-sponsors>
            </div>
        </div>
    </div>
</div>
