<app-homeheader></app-homeheader>
<div id="Content">
	<div class="content_wrapper clearfix">
		<div class="sections_group">
			<div class="entry-content">
				<div
					class="section mcb-section mcb-section-0gasmdjvr no-margin-h no-margin-v equal-height-wrap"
					style="padding-top: 0px; padding-bottom: 0px"
				>
					<div class="section_wrapper mcb-section-inner">
						<div
							class="wrap mcb-wrap mcb-wrap-0301oxq7t one-second valign-top move-up clearfix"
							style="margin-top: -150px"
							data-mobile="no-up"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-uqhf6f91h one column_placeholder"
								>
									<div class="placeholder">&nbsp;</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-015jxm1qw one-fourth valign-middle bg-cover move-up clearfix"
							style="
								padding: 40px 0 40px;
								margin-top: -150px;
								background-image: url(assets/images/football2_pic20.jpg);
								background-repeat: no-repeat;
								background-position: center;
							"
							data-mobile="no-up"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-97ofdg86a one column_image"
								>
									<div
										class="image_frame image_item no_link scale-with-grid alignright no_border"
									>
										<div class="image_wrapper">
											<img
												class="scale-with-grid"
												src="assets/images/football2_pic21.png"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-w72g8yfvt one-fourth valign-top move-up clearfix"
							style="
								padding: 40px 30px 25px;
								background-color: #fff;
								margin-top: -150px;
							"
							data-mobile="no-up"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-6253jrmkv one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h6
											style="
												display: inline-block;
												background: #000;
												padding: 5px 15px;
											"
										>
											EXPERT COMMENTARY
										</h6>
										<h6 style="color: #1a1a1a">KEVIN PERRY</h6>
										<p style="color: #1a1a1a">
											Aliquam ac dui vel dui vulputate consectetur mauris.
										</p>
										<p>
											<a href="#">VIEW MORE</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="section mcb-section mcb-section-n44qtd9qx equal-height-wrap"
					style="padding-top: 110px; padding-bottom: 70px; background-color: "
				>
					<div class="section_wrapper mcb-section-inner">
						<div
							class="wrap mcb-wrap mcb-wrap-5wgtd5vzj one-second valign-middle clearfix"
							style
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-xofz0slop one column_image"
								>
									<div
										class="image_frame image_item no_link scale-with-grid aligncenter no_border"
									>
										<div class="image_wrapper">
											<img
												class="scale-with-grid"
												src="assets/images/football2_pic2.png"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-1txcbkido one-second valign-middle clearfix"
							style="padding: 0 0 0 5%"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-ml27fl39k one column_column"
								>
									<div class="column_attr clearfix">
										<div
											class="image_frame image_item no_link scale-with-grid alignnone no_border"
										>
											<div class="image_wrapper">
												<img
													class="scale-with-grid"
													src="assets/images/football2_pic3.png"
												/>
											</div>
										</div>
										<hr class="no_line" style="margin: 0 auto 20px" />
										<h4>WE HAVE A</h4>
										<h2 class="themecolor">GREAT HISTORY</h2>
										<hr class="no_line" style="margin: 0 auto 20px" />
										<p>
											Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
											Nam vel justo cursus, faucibus lorem eget, egestas eros.
											Maecenas eleifend erat at justo fringilla imperdiet id ac
											magna. Suspendisse vel facilisis.
										</p>
										<hr class="no_line" style="margin: 0 auto 25px" />
										<a
											class="button button_size_2 button_theme button_js"
											href="#"
											><span class="button_label">SEE OUR STORY</span></a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="section mcb-section mcb-section-864kpwr4k"
					style="padding-top: 0px; padding-bottom: 70px; background-color: "
				>
					<div class="section_wrapper mcb-section-inner">
						<div
							class="wrap mcb-wrap mcb-wrap-nmp28afsx one valign-top clearfix"
							style
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-lcrw2hi3i one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h4>WHAT’S GOING ON?</h4>
										<h2 class="themecolor">LATEST NEWS</h2>
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-dsafco7zl one column_blog_teaser"
								>
									<div class="blog-teaser">
										<ul class="teaser-wrapper">
											<li
												class="post-33 post type-post status-publish format-standard has-post-thumbnail hentry category-aliquam category-lorem"
											>
												<div class="photo-wrapper scale-with-grid">
													<img
														src="assets/images/football2_pic4-960x720.jpg"
														class="scale-with-grid wp-post-image"
													/>
												</div>
												<div class="desc-wrapper">
													<div class="desc">
														<div class="post-meta clearfix">
															<span class="author"
																><span class="label">Published by </span
																><i class="icon-user"></i>
																<a href="#">Muffin Group</a></span
															><span class="date"
																><span class="label">on </span
																><i class="icon-clock"></i>
																<span class="post-date">May 8, 2019</span></span
															>
														</div>
														<div class="post-title">
															<h3>
																<a href="post.html"
																	>INTERDUM ADIPISCING WISI ALIQUAM ERAT</a
																>
															</h3>
														</div>
													</div>
												</div>
											</li>
											<li
												class="post-31 post type-post status-publish format-standard has-post-thumbnail hentry category-lorem category-nulla"
											>
												<div class="photo-wrapper scale-with-grid">
													<img
														src="assets/images/football2_pic5-960x720.jpg"
														class="scale-with-grid wp-post-image"
													/>
												</div>
												<div class="desc-wrapper">
													<div class="desc">
														<div class="post-meta clearfix">
															<span class="author"
																><span class="label">Published by </span
																><i class="icon-user"></i>
																<a href="#">Muffin Group</a></span
															><span class="date"
																><span class="label">on </span
																><i class="icon-clock"></i>
																<span class="post-date">May 8, 2019</span></span
															>
														</div>
														<div class="post-title">
															<h4>
																<a href="post.html"
																	>VELIT RHONCUS EU LUCTUS ET</a
																>
															</h4>
														</div>
													</div>
												</div>
											</li>
											<li
												class="post-28 post type-post status-publish format-standard has-post-thumbnail hentry category-lorem category-nulla category-quisque"
											>
												<div class="photo-wrapper scale-with-grid">
													<img
														src="assets/images/football2_pic6-960x720.jpg"
														class="scale-with-grid wp-post-image"
													/>
												</div>
												<div class="desc-wrapper">
													<div class="desc">
														<div class="post-meta clearfix">
															<span class="author"
																><span class="label">Published by </span
																><i class="icon-user"></i>
																<a href="#">Muffin Group</a></span
															><span class="date"
																><span class="label">on </span
																><i class="icon-clock"></i>
																<span class="post-date">May 8, 2019</span></span
															>
														</div>
														<div class="post-title">
															<h4>
																<a href="post.html"
																	>MAURIS NEC MALESUADA FAMES</a
																>
															</h4>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="section mcb-section mcb-section-2hzy91tdz"
					style="
						padding-top: 0px;
						padding-bottom: 0px;
						background-image: url(assets/images/football2_pic10.png);
						background-repeat: repeat-x;
						background-position: center bottom;
					"
				>
					<div class="section_wrapper mcb-section-inner">
						<div
							class="wrap mcb-wrap mcb-wrap-0io59mubr one-second column-margin-0px valign-top clearfix"
							style="padding: 0 2% 0 0"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-hh4y1wvqx one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h6
											class="themecolor"
											style="
												border-top: 2px solid #fa1e3d;
												padding-top: 15px;
												display: inline-block;
											"
										>
											LAST MATCH
										</h6>
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-iwoa4nycy one column_column"
								>
									<div
										class="column_attr clearfix align_center"
										style="background-color: #f6f6f6; padding: 40px 40px 25px"
									>
										<h6>
											<span style="color: #1a1a1a">KING'S LEAGUE</span>
											<br />
											<span style="color: #959eac">BETHEME STADIUM</span>
										</h6>
										<div class="column one-third">
											<div
												class="image_frame image_item no_link scale-with-grid alignnone no_border"
											>
												<div class="image_wrapper">
													<img
														class="scale-with-grid"
														src="assets/images/football2_pic7.png"
													/>
												</div>
											</div>
										</div>
										<div class="column one-third">
											<h2 style="color: #b1b8c1; margin: 0; padding: 20px 0">
												<span class="themecolor">3</span>:1
											</h2>
										</div>
										<div class="column one-third">
											<div
												class="image_frame image_item no_link scale-with-grid alignnone no_border"
											>
												<div class="image_wrapper">
													<img
														class="scale-with-grid"
														src="assets/images/football2_pic8.png"
													/>
												</div>
											</div>
										</div>
										<hr class="no_line" style="margin: 0 auto 15px" />
										<h6 style="color: #959eac">
											SATURDAY <br />
											15 MARCH 6:45 PM
										</h6>
										<hr class="no_line" style="margin: 0 auto 15px" />
										<a
											class="button button_size_2 button_theme button_js"
											href="#"
											><span class="button_label">SEE MORE INFO</span></a
										>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-e2gcsuy3t one-second column-margin-0px valign-top clearfix"
							style="padding: 0 0 0 2%"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-s8e8ffv8u one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h6
											class="themecolor"
											style="
												border-top: 2px solid #fa1e3d;
												padding-top: 15px;
												display: inline-block;
											"
										>
											NEXT MATCH
										</h6>
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-toabobgds one column_column"
								>
									<div
										class="column_attr clearfix align_center"
										style="background-color: #f6f6f6; padding: 40px 40px 25px"
									>
										<h6>
											<span style="color: #1a1a1a">ST. PETER CUP</span>
											<br />
											<span style="color: #959eac">ULTRA PARADISO STADIUM</span>
										</h6>
										<div class="column one-third">
											<div
												class="image_frame image_item no_link scale-with-grid alignnone no_border"
											>
												<div class="image_wrapper">
													<img
														class="scale-with-grid"
														src="assets/images/football2_pic9.png"
													/>
												</div>
											</div>
										</div>
										<div class="column one-third">
											<h4 style="color: #1a1a1a; margin: 0; padding: 33px 0">
												8:45 PM
											</h4>
										</div>
										<div class="column one-third">
											<div
												class="image_frame image_item no_link scale-with-grid alignnone no_border"
											>
												<div class="image_wrapper">
													<img
														class="scale-with-grid"
														src="assets/images/football2_pic7.png"
													/>
												</div>
											</div>
										</div>
										<hr class="no_line" style="margin: 0 auto 15px" />
										<h6 style="color: #959eac">
											SATURDAY <br />
											07 APRIL
										</h6>
										<hr class="no_line" style="margin: 0 auto 15px" />
										<a
											class="button button_size_2 button_theme button_js"
											href="#"
											><span class="button_label">BUY TICKETS NOW</span></a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="section mcb-section mcb-section-y11wxswbj"
					style="
						padding-top: 110px;
						padding-bottom: 30px;
						background-color: #ffffff;
					"
				>
					<div class="section_wrapper mcb-section-inner">
						<div
							class="wrap mcb-wrap mcb-wrap-9yi5jcc37 one valign-top clearfix"
							style
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-fmy2avx85 one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h4 style="color: #1a1a1a">OUR PLAYERS</h4>
										<h2 class="themecolor">MEET THE TEAM</h2>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-vb93fapwg one-fourth valign-top clearfix"
							style="padding: 0 2%"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-2xi27wv4w one column_image"
								>
									<div
										class="image_frame image_item no_link scale-with-grid aligncenter no_border"
									>
										<div class="image_wrapper">
											<img
												class="scale-with-grid"
												src="assets/images/football2_pic11.png"
											/>
										</div>
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-t9pmjwt8a one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h6 style="margin-bottom: 0; color: #1a1a1a">
											BRANDON ROSS
										</h6>
										<h6 style="color: #959eac">GOALKEEPER</h6>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-npxohlo62 one-fourth valign-top clearfix"
							style="padding: 0 2%"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-w18d7c2xt one column_image"
								>
									<div
										class="image_frame image_item no_link scale-with-grid aligncenter no_border"
									>
										<div class="image_wrapper">
											<img
												class="scale-with-grid"
												src="assets/images/football2_pic12.png"
											/>
										</div>
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-ovmxa6g3r one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h6 style="margin-bottom: 0; color: #1a1a1a">
											KEVIN PERRY
										</h6>
										<h6 style="color: #959eac">ATTACKER</h6>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-9or8s2fd3 one-fourth valign-top clearfix"
							style="padding: 0 2%"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-uudxi2uua one column_image"
								>
									<div
										class="image_frame image_item no_link scale-with-grid aligncenter no_border"
									>
										<div class="image_wrapper">
											<img
												class="scale-with-grid"
												src="assets/images/football2_pic13.png"
											/>
										</div>
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-jddaiopdv one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h6 style="margin-bottom: 0; color: #1a1a1a">
											JASON COLLINS
										</h6>
										<h6 style="color: #959eac">DEFENDER</h6>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-sed4e02zp one-fourth valign-top clearfix"
							style="padding: 0 2%"
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-2nbbkqwtl one column_image"
								>
									<div
										class="image_frame image_item no_link scale-with-grid aligncenter no_border"
									>
										<div class="image_wrapper">
											<img
												class="scale-with-grid"
												src="assets/images/football2_pic14.png"
											/>
										</div>
									</div>
								</div>
								<div
									class="column mcb-column mcb-item-ktwnqfv1y one column_column"
								>
									<div class="column_attr clearfix align_center">
										<h6 style="margin-bottom: 0; color: #1a1a1a">
											DOUGLAS WOOD
										</h6>
										<h6 style="color: #959eac">ATTACKER</h6>
									</div>
								</div>
							</div>
						</div>
						<div
							class="wrap mcb-wrap mcb-wrap-zlwliav8k one valign-top clearfix"
							style
						>
							<div class="mcb-wrap-inner">
								<div
									class="column mcb-column mcb-item-mjjflbyi0 one column_divider"
								>
									<hr class="no_line" style="margin: 0 auto 10px" />
								</div>
								<div
									class="column mcb-column mcb-item-amm7whd9b one column_button"
								>
									<div class="button_align align_center">
										<a
											class="button button_size_2 button_theme button_js"
											href="our-players.html"
											><span class="button_label">SEE ALL PLAYERS</span></a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
        <!-- Sponsors -->
        <app-sponsors></app-sponsors>
			</div>
		</div>
	</div>
</div>
