<div
	class="section mcb-section mcb-section-hxpoxwkcr"
	style="padding-top: 0px; padding-bottom: 70px; background-color: #ffffff"
>
  <div
      class="column mcb-column mcb-item-nbsl3ousx one column_divider"
    >
      <hr class="no_line" style="margin: 0 auto 90px" />
    </div>
	<div class="section_wrapper mcb-section-inner">
		<div class="wrap mcb-wrap mcb-wrap-6i0vcjhpx one valign-top clearfix" style>
			<div class="mcb-wrap-inner">
				<div class="column mcb-column mcb-item-5xrspzp6s one column_divider">
					<hr class style="margin: 0 auto 70px" />
				</div>
				<div class="column mcb-column mcb-item-tpr2gnlzf one column_column">
					<div class="column_attr clearfix align_center">
						<h4 style="color: #1a1a1a">OUR SPONSORS</h4>
					</div>
				</div>
				<div class="column mcb-column mcb-item-6di25mjy3 one column_clients">
					<ul class="clients clearfix">
						<li style="width: 25%">
							<div class="client_wrapper">
								<div class="gs-wrapper">
									<img
										src="assets/images/football2_pic15-145x75.png"
										class="scale-with-grid wp-post-image"
									/>
								</div>
							</div>
						</li>
						<li style="width: 25%">
							<div class="client_wrapper">
								<div class="gs-wrapper">
									<img
										src="assets/images/football2_pic16-145x75.png"
										class="scale-with-grid wp-post-image"
									/>
								</div>
							</div>
						</li>
						<li style="width: 25%">
							<div class="client_wrapper">
								<div class="gs-wrapper">
									<img
										src="assets/images/football2_pic17-145x75.png"
										class="scale-with-grid wp-post-image"
									/>
								</div>
							</div>
						</li>
						<li style="width: 25%">
							<div class="client_wrapper">
								<div class="gs-wrapper">
									<img
										src="assets/images/football2_pic18-145x75.png"
										class="scale-with-grid wp-post-image"
									/>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
