<footer id="Footer" class="clearfix">
	<div class="widgets_wrapper">
		<div class="container">
			<div class="column one-third">
				<aside class="widget_text widget widget_custom_html">
					<div class="textwidget custom-html-widget">
						<hr class="no_line" style="margin: 0 auto 10px" />
						<h5>CALL US</h5>
						<h4 class="themecolor">+123 456 7890</h4>
					</div>
				</aside>
			</div>
			<div class="column one-third">
				<aside class="widget_text widget widget_custom_html">
					<div class="textwidget custom-html-widget">
						<div
							class="image_frame image_item no_link scale-with-grid aligncenter no_border"
						>
							<div class="image_wrapper">
								<img style="width: 100px;" class="scale-with-grid" src="assets/images/logo.png" />
							</div>
						</div>
					</div>
				</aside>
			</div>
			<div class="column one-third">
				<aside class="widget_text widget widget_custom_html">
					<div class="textwidget custom-html-widget">
						<hr class="no_line" style="margin: 0 auto 10px" />
						<h5 style="text-align: right">CALL US</h5>
						<p style="font-size: 30px; text-align: right">
							<a href="#"><i class="icon-twitter-circled"></i></a
							><a href="#"><i class="icon-facebook-circled"></i></a
							><a href="#"><i class="icon-skype-circled"></i></a>
						</p>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<div class="footer_copy">
		<div class="container">
			<div class="column one">
				<div class="copyright">
					&copy; {{ currentDate | date: "yyyy" }}. Ballantines - Developed by
					<a target="_blank" rel="nofollow" href="http://roninafrica.com"
						>Ronin Africa</a
					>
				</div>
				<ul class="social">
					<li class="facebook">
						<a href="#"><i class="icon-facebook"></i></a>
					</li>
					<li class="twitter">
						<a href="#"><i class="icon-twitter"></i></a>
					</li>
					<li class="youtube">
						<a href="#"><i class="icon-play"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
