<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-32330e052 bg-cover-ultrawide" style="padding-top:300px;padding-bottom:60px;background-image:url(assets/images/football2_pic33.jpg);background-repeat:no-repeat;background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-f3560a3ec one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-b23003eb3 three-fifth column_column">
                                    <div class="column_attr clearfix">
                                        <h4>FC BETHEME</h4>
                                        <h2 class="themecolor">THE HISTORY OF OUR TEAM</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-bc9ef10bf" style="padding-top:110px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-28d2fb254 one-second valign-top clearfix" style="padding:0 2% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-du414xnhg one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic34.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-cbd7dfd17 one-second valign-top clearfix" style="padding:0 0 0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-c1hvuwj3t one column_column">
                                    <div class="column_attr clearfix">
                                        <h4>ALIQUAM ERAT</h4>
                                        <h2 class="themecolor">LOREM IPSUM PRIMIS IN NIBH</h2>
                                        <hr class="no_line" style="margin: 0 auto 20px;">
                                        <p>
                                            Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio. Fusce lobortis porttitor purus, vel vestibulum libero pharetra vel. Pellentesque lorem augue, fermentum nec nibh et, fringilla sollicitudin orci. Integer pharetra magna
                                            non ante blandit lobortis. Sed mollis consequat eleifend. Aliquam consectetur orci eget dictum tristique. Aenean et sodales est, ut vestibulum lorem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-1feopcs5d dark" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-qr8rkixm9 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-vlkk828hd one column_timeline">
                                    <ul class="timeline_items">
                                        <li>
                                            <h3><span>29.12.1948</span>Vitae adipiscing turpis aen</h3>
                                            <div class="desc">
                                                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                                                ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum
                                                adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus.
                                            </div>
                                        </li>
                                        <li>
                                            <h3><span>15.08.1963</span>Quisque lorem tortor fringilla</h3>
                                            <div class="desc">
                                                Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing.
                                                Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies.
                                            </div>
                                        </li>
                                        <li>
                                            <h3><span>11.05.1984</span>Aenean ferme ntum elit eget</h3>
                                            <div class="desc">
                                                Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus.
                                            </div>
                                        </li>
                                        <li>
                                            <h3><span>29.12.2013</span>Vitae adipiscing turpis aen</h3>
                                            <div class="desc">
                                                Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum stie id viverra.
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-0a835e4dd" style="padding-top:110px;padding-bottom:70px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-ab6eafc02 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-81af51acb one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h4 style="color: #1a1a1a;">AWARDS</h4>
                                        <h2 class="themecolor">SEE OUR TROPHIES</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-xxx2l7skr one-third valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-s0bn7yd40 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic35.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-fs3d2qr8y one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h6 style="margin-bottom: 0; color: #1a1a1a;">INTEGER ID TURPIS EGESTAS</h6>
                                        <h6 style="color: #959eac;">2003</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-8z18zkk4a one-third valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-9ovy29xtx one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic37.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-0oq3bpga6 one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h6 style="margin-bottom: 0; color: #1a1a1a;">QUISQUE LOREM SODALES</h6>
                                        <h6 style="color: #959eac;">2012</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-rd4d058hu one-third valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-gwkyek557 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic36.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-l9dxd4ek6 one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h6 style="margin-bottom: 0; color: #1a1a1a;">AUGUE AT SAGITTIS VEL</h6>
                                        <h6 style="color: #959eac;">2017</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- sponsors -->
                        <app-sponsors></app-sponsors>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>