<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-231b99620 bg-cover-ultrawide" style="padding-top:300px;padding-bottom:60px;background-image:url(assets/images/football2_pic39.jpg);background-repeat:no-repeat;background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-a5f5489b6 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-8a9a30889 three-fifth column_column">
                                    <div class="column_attr clearfix">
                                        <h4>WHO ARE WE?</h4>
                                        <h2 class="themecolor">MEET OUR TEAM</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-c1d6284d7" style="padding-top:110px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-q9nnzmzaa one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-cmp6u08j8 one column_column">
                                    <div class="column_attr clearfix">
                                        <h4>SECTION 1</h4>
                                        <div class="mfn_heading heading_lines align_left">
                                            <h2 class="title" style="color:#fa1e3d;"><span class="line line_l" style="background:#2e2e2e;"></span>MEN<span class="line line_r" style="background:#2e2e2e;"></span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-hi9tp3t7l one-second valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-4830sxniy one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic38.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-xrxnro6dn one-second column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 10%;">
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            DEFENDER
                                        </p>
                                        <h5>BRANDON ROSS</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Date of birth
                                        </p>
                                        <h5>02/02/1987</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Weight
                                        </p>
                                        <h5>86kg</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Height
                                        </p>
                                        <h5>192cm</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-t6hcla1mb one-second valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-7qwq497cu one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic40.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-lybj8xlw7 one-second column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 10%;">
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            ATTACKER
                                        </p>
                                        <h5>KEVIN PERRY</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Date of birth
                                        </p>
                                        <h5>21/04/1989</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Weight
                                        </p>
                                        <h5>78kg</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Height
                                        </p>
                                        <h5>174cm</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-ne2kl3idq one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-twe55uq2e one column_button">
                                    <a class="button button_size_2 button_theme button_js" href="#"><span class="button_label">SEE ALL PLAYERS</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-9xbp8dkrf" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-y9w0aubfl one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-q2nfpy9kz one column_column">
                                    <div class="column_attr clearfix">
                                        <h4>SECTION 2</h4>
                                        <div class="mfn_heading heading_lines align_left">
                                            <h2 class="title" style="color:#fa1e3d;"><span class="line line_l" style="background:#2e2e2e;"></span>WOMEN<span class="line line_r" style="background:#2e2e2e;"></span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-9z6trm6pa one-second valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-81ql57me1 one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic41.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-izl2mqqo7 one-second column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 10%;">
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            ATTACKER
                                        </p>
                                        <h5>SARA WRIGHT</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Date of birth
                                        </p>
                                        <h5>21/04/1989</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Weight
                                        </p>
                                        <h5>78kg</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Height
                                        </p>
                                        <h5>174cm</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-vntec0iar one-second valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-izksr9vl9 one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic42.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-n6m92b7ut one-second column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 10%;">
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            DEFENDER
                                        </p>
                                        <h5>JENNIFER LEE</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Date of birth
                                        </p>
                                        <h5>02/02/1987</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Weight
                                        </p>
                                        <h5>86kg</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Height
                                        </p>
                                        <h5>192cm</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-7e0o77x33 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-adysqi83z one column_button">
                                    <a class="button button_size_2 button_theme button_js" href="#"><span class="button_label">SEE ALL PLAYERS</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-3enyfzzmj" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-arz3fmglt one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-r8nv8a9t6 one column_column">
                                    <div class="column_attr clearfix">
                                        <h4>SECTION 3</h4>
                                        <div class="mfn_heading heading_lines align_left">
                                            <h2 class="title" style="color:#fa1e3d;"><span class="line line_l" style="background:#2e2e2e;"></span>JUNIORS<span class="line line_r" style="background:#2e2e2e;"></span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-wuag0f77n one-second valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-npadipra5 one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic43.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-ruj8gib2p one-second column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 10%;">
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            DEFENDER
                                        </p>
                                        <h5>BRANDON ROSS</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Date of birth
                                        </p>
                                        <h5>02/02/1987</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Weight
                                        </p>
                                        <h5>86kg</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Height
                                        </p>
                                        <h5>192cm</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-7p3wrgc3k one-second valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-e4rgfgt7v one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/football2_pic44.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-qttgf4idp one-second column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 10%;">
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            ATTACKER
                                        </p>
                                        <h5>KEVIN PERRY</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Date of birth
                                        </p>
                                        <h5>21/04/1989</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Weight
                                        </p>
                                        <h5>78kg</h5>
                                        <p style="margin-bottom: 2px; color: #4d4d4d;">
                                            Height
                                        </p>
                                        <h5>174cm</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-fmfi5mm1p one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-2xr8pzav1 one column_button">
                                    <a class="button button_size_2 button_theme button_js" href="#"><span class="button_label">SEE ALL PLAYERS</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- sponsors -->
                <app-sponsors></app-sponsors>
            </div>
        </div>
    </div>
</div>